.checkmark {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  pointer-events: auto;
  list-style: none;
  text-align: inherit;
  cursor: pointer;
  -webkit-box-direction: normal;
  font: inherit;
  white-space: inherit;
  word-wrap: break-word;
  font-family: inherit;
  display: inline-block;
  fill: currentcolor;
  height: 1.25em;
  position: relative;
  vertical-align: text-bottom;
  user-select: none;
  color: rgb(29, 155, 240);
  max-height: 20px;
  max-width: 20px;
  margin-left: 2px;
}
