<div *ngIf="photoUrl.photo.width && photoUrl.photo.height" class="img-container"
     style="{{'padding-top:' + (100 * photoUrl.photo.height / photoUrl.photo.width) + '%;'}}">
  <img (click)="onModal(photoUrl)" (load)="this.onLoadPhoto(photoUrl)" alt='' class='grid-item grid-item-{{index}}' id="photo-{{index}}"
       loading="lazy" src='{{photoUrl.url}}'>
  <app-waiting *ngIf="!isFinished(photoUrl)"></app-waiting>
</div>

<app-like-counter [photoUrl]="photoUrl"></app-like-counter>

<app-avatar [forUser]="profile"></app-avatar>

<a (click)="this.onDelete(photoUrl.photo)" *ngIf="this.canDelete(photoUrl)" class="delete">x</a>

<div *ngIf="modalPhoto" class="modal" id="myModal">
  <span (click)="stopModal()" class="close">&times;</span>
  <img (click)="stopModal()" class="modal-content" id="img01" src="{{modalPhoto.url}}">

  <div class="caption">
    <app-like-counter [photoUrl]="modalPhoto"></app-like-counter>

    <app-avatar [forUser]="profile"></app-avatar>
  </div>
</div>
