<div class="body-text">
<h1>Meedoen?</h1>
  <p>Ga naar <a href="https://www.dekkerreunie.nl/ ">dekkerreunie.nl</a> op je mobiel. Log in met
    <a href="https://www.google.com">Google</a> of <a href="https://www.facebook.com">Facebook</a>,
  of maak een account aan. Uploaden maar!</p>
</div>

<app-upload></app-upload>

<div class="gallery-container">
  <div *ngFor="let photoUrl of photos; let i = index" class="gallery-container-div">
    <app-photo [photoUrl]="photoUrl" [index]="i + 1"></app-photo>
  </div>
</div>
