<h1>Welkom!</h1>

<p>Ingelogd als {{this.userName}}</p>

<input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload style="display: none" multiple accept="image/*">

<div class="file-upload">
  <button class="upload-btn" (click)="fileUpload.click()">
    Foto's uploaden
  </button>
</div>

<!--<ul *ngFor="let progressBar of progressBars">-->
<!--  <li><label for="file">{{progressBar.fileName}}:</label>-->
<!--    <progress id="file" value="{{calcPercentage(progressBar)}}" max="100"> {{calcPercentage(progressBar)}}%</progress>-->
<!--  </li>-->
<!--</ul>-->

<div class="grid-container">
  <div *ngFor="let photoUrl of photos; let i = index" class="grid-container-div">
    <app-photo [photoUrl]="photoUrl" [index]="i + 1"></app-photo>
  </div>
</div>
