<h1>Welkom!</h1>

<p>Ingelogd als {{this.userName}}</p>

<input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload style="display: none" multiple accept="image/*">

<div class="file-upload">

  <button class="upload-btn" (click)="fileUpload.click()">
    Foto's uploaden
  </button>
</div>

<ul *ngFor="let progressBar of progressBars">
  <li><label for="file">{{progressBar.fileName}}:</label>
    <progress id="file" value="{{calcPercentage(progressBar)}}" max="100"> {{calcPercentage(progressBar)}}% </progress></li>
</ul>

<div *ngFor="let photoUrl of this.photos">
  <img src="{{photoUrl.url}}" width="100%"/>
  {{photoUrl.photo.user}}
  <button *ngIf="!this.isLikedByCurrent(photoUrl)" (click)="onLike(photoUrl.photo)">Vind ik leuk</button>
  <button *ngIf="this.isLikedByCurrent(photoUrl)" (click)="onUnLike(photoUrl.photo)">Niet meer leuk vinden</button>
  {{photoUrl.likes.length}} keer leuk gevonden
  <button *ngIf="photoUrl.photo.user === this.userName" (click)="this.onDelete(photoUrl.photo)">Verwijder</button>
</div>
