<input #fileUpload (change)="onFileSelected($event)" accept="image/*" class="file-input" multiple style="display: none"
       type="file">
<div class="file-upload">
  <button (click)="fileUpload.click()" class="upload-btn">
    Foto's Uploaden
  </button>
</div>

<div class="upload-container">
  <div *ngFor="let photoUrl of uploads; let i = index" class="upload-container-div">
    <div class="upload-img-container">
      <img class="upload-item upload-item-{{i}}" id="photo-{{i}}" src="{{photoUrl.url}}"/>
      <div *ngIf="photoUrl.progress" class="progress-container">
        <div class="progress" style="{{'width:' + this.calcPercentage(photoUrl.progress) + '%'}}"></div>
      </div>
    </div>
  </div>
</div>

