ul {
  list-style-type: none;
  padding: 0;
  height: 56px;
  background-color: rgba(25, 150, 230);
  margin: 0 auto;
  line-height: 0;
  transition: all 0.25s ease-in-out;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 28px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(250, 25, 130);
}

a.red {
  background-color: rgb(250, 25, 130);
}

.scrolling {
  background-color: rgba(25, 150, 230, 0.5);
  backdrop-filter: blur(16px);
  transition: all 0.25s ease-in-out;
}

.topmenu {
  position: sticky;
  top: 0;
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 28px;
  border: 0;
  cursor: pointer;
}

li.dropdown {
  display: inline-block;
  float: none;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: rgb(25, 150, 230);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  right: 0;
  float: none;
}

.dropup-content {
  display: block;
  position: relative;
  background-color: rgb(25, 150, 230);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  left: 0;
  bottom: 168px;
  float: none;
}

.dropdown-content a {
  color: white;
  padding: 28px;
  text-decoration: none;
  display: block;
  float: none;
}

.dropdown-content a:hover {
  background-color: rgb(250, 25, 130)
}

.dropdown:hover .dropbtn {
  background-color: rgb(250, 25, 130)
}

.last {
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  font-weight: bolder;
}

.last a {
  font-weight: bolder;
}

.logo {
  float: right;
}

.logo a {
  float: right;
  padding: 3px;
}
