<ul *ngIf="!isFooter">
  <li><a [routerLink] = "'/'">home</a></li>
  <li><a [routerLink] = "'/gallery'">gallerij</a></li>
  <li class="last"><a (click)="signout()">uitloggen</a></li>
  <li class="last"><a [routerLink] = "'/profile'">{{userService.userName}}</a></li>
</ul>

<ul *ngIf="isFooter">
  <li><a [routerLink]="'legal'" fragment="privacy-statement">Privacyverklaring</a></li>
  <li><a [routerLink]="'legal'" fragment="data-retention">Dataretentie</a></li>
  <li class="logo"><a href="https://www.dikhoffsoftware.com"><img src="assets/images/dikhoffsoftwarelogo_white_tiny.png"></a></li>
</ul>
