<ul *ngIf="!isFooter" class="topmenu">
  <li><a [ngClass]="this.router.url === '/' ? 'red' : ''" [routerLink]="'/'">Nieuw</a></li>
  <li><a [ngClass]="this.router.url === '/gallery' ? 'red' : ''" [routerLink]="'/gallery'">Likes</a></li>
  <li *ngIf="userService.currentProfile" class="last">
    <a (click)="showUserDropdown = !showUserDropdown"
       class="dropbtn {{this.router.url === 'profile' ? 'red' : ''}}">{{userService.currentProfile.displayname}}</a>
    <div *ngIf="showUserDropdown" class="dropdown-content">
      <a [ngClass]="this.router.url === '/profile' ? 'red' : ''" [routerLink]="'/profile'">profiel</a>
      <a (click)="signout()">uitloggen</a>
    </div>
  </li>
  <li *ngIf="!userService.currentProfile" class="last">
    <a>Login</a>
  </li>
</ul>

<ul *ngIf="isFooter">
  <li>
    <a (click)="showLegalDropdown = !showLegalDropdown" class="dropbtn {{this.router.url === 'profile' ? 'red' : ''}}">Legal</a>
    <div *ngIf="showLegalDropdown" class="dropup-content">
      <a [ngClass]="this.router.url === '/legal#privacy-statement' ? 'red' : ''" [routerLink]="'legal'"
         fragment="privacy-statement">Privacyverklaring</a>
      <a [ngClass]="this.router.url === '/legal#data-deletion' ? 'red' : ''" [routerLink]="'legal'"
         fragment="data-deletion">Data verwijderen</a>
    </div>

  </li>

  <li class="logo"><a href="https://www.dikhoffsoftware.com" target="_blank"><img
    src="assets/images/dikhoffsoftwarelogo_white_tiny.png"></a></li>
</ul>
